/*
* This file use declarations, functions and mixins from
* config/_typography.scss
*/

body {
  font-family : $body-font;
  font-size   : fontSize(normal);
  font-weight : 400;
  line-height : 1.6;
  color       : $textColor;
}

h1, h2, h3, h4, h5, h6,
.t1, .t2, .t3, .t4 {
  font-family    : $heading-font;
  font-weight    : 700;
  letter-spacing : -0.01em;
  line-height    :  1.3;
}

// classes for font-family
.body-font { font-family : $body-font }
.heading-font { font-family : $heading-font }

// Set font sizes
h1, .t1         { @include t1 }
h2, .t2         { @include t2 }
h3, .t3         { @include t3 }
h4, .t4         { font-size : fontSize(normal) }
h5, h6, .small  { font-size : fontSize(small) }

// Blockquote
blockquote {
  @include t3;
  font-style     : italic;
  letter-spacing : .01em;
  margin-left    : 4rem;
  position       : relative;
  opacity        : .9;

  &::before {
    content        : "\201C";
    font-family    : Georgia, serif;
    font-size      : 3em;
    position       : absolute;
    top            : .5em;
    left           : -.6em;
    line-height    : 0;
    letter-spacing : -0.5em;
  }
}

// Enlaces
// Menu links doesn't have underline
a {
  color : $secondColor;

  main & {
    text-decoration : none;

    &:hover {
      text-decoration : underline;
    }
  }
}

::selection {
  background : $secondColor;
  color      : #FFF;
}

//Fontastic
@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\6a";
}
.icon-right:before {
  content: "\6b";
}
.icon-play:before {
  content: "\62";
}
.icon-pause:before {
  content: "\63";
}
.icon-home:before {
  content: "\61";
}
.icon-contact:before {
  content: "\64";
}
.icon-us:before {
  content: "\65";
}
.icon-up:before {
  content: "\66";
}
.icon-facebook:before {
  content: "\67";
}
.icon-twitter:before {
  content: "\68";
}
.icon-youtube:before {
  content: "\69";
}
.whatsapp {
  position: relative;
  color: inherit;
  padding-right: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.64rem;
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../images/whatsapp.png);
  }
  &:hover{
    text-decoration: none;
    color: $secondColor;
  }
}