body {
  padding-top: 5.9rem;
  margin         : 0 0 0 0;
  display        : flex;
  flex-direction : column;
  min-height     : calc(100vh - 64px);
  background     : img2('background.jpg'), 
                   linear-gradient(
                    $darkColor 10%, 
                    lighten($darkColor,30) 15%, 
                    lighten($darkColor,20) 25%, 
                    $darkColor 95%);
}

// Vertical rhythm
h1, h2, h3, h4, h5, h6 {
  margin-top : 0;
  margin-bottom : 1rem;

  & + .subtitle {
    margin-top : -.5rem;
    margin-bottom : 1rem;
  }
}

li {
  margin-top : 0;
}
hr{
  width: 100%;
  border: none;
  border-bottom: $firstColorAlt solid 1px;
}
// Bloques de contenido
.l-block,
section,
p,
blockquote,
pre,
article,
figure,
iframe,
video,
ul,
ol {
  margin-top : 0;
  margin-bottom : 1rem;
}
#multifiltros{ overflow: hidden; }
// secciones principales
.l-section {
  margin-top : 0;
  margin-bottom: 1rem;
  .main-header + & {
    padding-top: 4rem;
    position: relative;
  }

  &--main {
    margin-top : 0;
    margin-bottom : 8rem;
  }
}

.main-banner,
.topbar {
  margin-bottom : 3rem;
}

// main-banner y top-bar no deben separarse verticalmente de su hermano anterior

.topbar + .main-banner{
  margin-top : -4rem;
}
