extends layouts/template
append config
	-currentPage = 'Inicio'
block banner
	+banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Contáctenos', '', 'dark')
block main
	form.rex-container.form(v-on:submit.prevent="submitForm")
		.m-50.s-100.wow.fadeInRight(data-wow-duration="1.5s" data-wow-delay="0")
			.rex-item.form__item
				label.form__label(for="") Nombre completo: 
				input.form__input(v-model="vue.nombre" type="text" required="")
			.rex-item.form__item
				label.form__label(for="") Teléfono: 
				input.form__input(v-model="vue.telefono" type="number")
			.rex-item.form__item
				label.form__label(for="") Celular: 
				input.form__input(v-model="vue.movil" type="number" required="")
			.rex-item.form__item
				label.form__label(for="") Dirección: 
				input.form__input(v-model="vue.direccion" type="text" required="")
			.rex-item.form__item
				label.form__label(for="") Ciudad: 
				input.form__input(v-model="vue.ciudad" type="text" required="")
		.m-50.s-100.wow.fadeInLeft(data-wow-duration="1.5s" data-wow-delay="0")
			.rex-item.form__item
				label.form__label(for="") Email: 
				input.form__input(v-model="vue.email" type="email" required="")
			.rex-item.form__item
				label.form__label(for="") Mensaje: 
				textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="")
			.rex-item.form__item.main-center
				button.button(type="submit") Enviar
				button.button(v-on:click="clearForm()") Limpiar
			.statusMessage(v-if="formSubmitted")
				h4(v-text="vue.envio")
	h2.center Ubíquenos
	//- iframe.map-contact(src="https://www.google.com/maps/d/embed?mid=15oulrLxB6lFTup3pwqPRADfwyogfqpeb", frameborder="0" width="100%" height="480")
	#map.map-contact
	script.
		var map;
		function initMap() {
			var multifiltros = {lat: -17.7634495, lng: -63.1499998};
			var map = new google.maps.Map(document.getElementById('map'), {
				scaleControl: true,
				center: multifiltros,
				zoom: 16
			});
			var iconBase = '/assets/images/';
			var icons = {
				icon: iconBase + 'marker.png'
			};
			var infowindow = new google.maps.InfoWindow({
					content:  '<div id="content">'+
											'<h2 id="firstHeading" class="firstHeading">Multi Filtros Santa cruz - Bolivia</h2>'+
											'<div id="bodyContent">'+
												'<p><b>Descripción:</b> Filtros para autos y vehiculos de las marcas Tecfil, Unifilter, Racor, Keltec, Baldwin, Rama. Lubricantes, refrigerantes, siliconas, bombas de lubricación. Procesador de conbustible especial para la inyección electrónica.</p>'+
												'<p><b>Dirección:</b> Av. Nicolás Suárez #1740, 4to Anillo esq. Diego de Trejo, Parque Industrial.'+
												'La Paz - Bolivia. <br>'+
												'<b>Telfs:</b> (591-3) 3493339 / 3478348</p>'+
												'<b>Cel:</b> <a href="https://api.whatsapp.com/send?phone=59174174477" target="_blank" class="whatsapp">74 17 44 77</a>'+
											'</div><hr>'+
											'<footer><a class="button--cta center" href="https://www.google.com.bo/maps/place/Tecfil+Filtros/@-17.7631534,-63.151058,18z/data=!4m12!1m6!3m5!1s0x93f1e62e9f651cad:0x2612cf6053c85840!2sTecfil+Filtros!8m2!3d-17.7633415!4d-63.1499562!3m4!1s0x93f1e62e9f651cad:0x2612cf6053c85840!8m2!3d-17.7633415!4d-63.1499562?hl=es" target="_blank">Ver en google maps</footer>'+
										'</div>'
			});
			infowindow.open(map);

			var marker = new google.maps.Marker({
				map: map,
				icon: icons.icon,
				position: multifiltros
			});
			marker.addListener('click', function() {
				infowindow.open(map, marker);
			});
		}
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW2_ChPDSYWwW5Dittons6RANEmK89QUU&callback=initMap" async defer)