extends layouts/template
append config
  -currentPage = 'Inicio'
block banner
  include components/slider
block main
  include components/poppup.pug
  h2.center= siteName
  .main-main__content.l-90.s-100.to-center.l-block
    p Somos distribuidores a nivel nacional de filtros, lubricantes, refrigerantes,siliconas,bombas de lubricacion y productos afines al sector automotriz.
    p Contamos con talento humano altamente calificado y atencion especializada, con los mejores precios.
  a(href="/demo/stylesguide").button Ver guia de estilos 