extends layouts/template
append config
  -currentPage = 'Racor'
block banner
  +banner("https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", 'Racor', '', 'accent')
block main
  