extends layouts/template
append config
  -currentPage = 'Tecfil'
block banner
  +banner(path_media + "images/1.jpg", 'Tecfil', '', 'secondary')
block main
  .main-main__content.l-90.s-100.to-center.l-block
    p 
      a(href="http://www.tecfil.com.br/" target="_black") Tecfil 
      | se destaca por su agilidad en el lanzamiento de nuevos productos. Es en el Departamento de Nuevos Productos que comienza el proceso de crear un filtro en particular. Se llevan a cabo estudios de mercado, algunas líneas de investigación y maquinaria apropiada antes de lanzar cualquier producto.<br>
    p
      | El objetivo es siempre para asegurar la máxima cobertura de la flota, ahora alrededor del 95% contestado con productos 
      a(href="http://www.tecfil.com.br/" target="_black") Tecfil
      | . Con el lanzamiento constante de nuevos modelos de varios fabricantes de automóviles, 
      a(href="http://www.tecfil.com.br/" target="_black") Tecfil 
      | siempre debe estar en sintonía con el mercado y asegurarse de que el filtro de llegar lo más rápido posible a los canales de venta.<br>
    p  
      | Todos los departamentos están involucrados: ingeniería, calidad, asistencia técnica, adquisición, producción, logística, marketing y ventas. Cada uno con su propia función para liderar el mercado filtros de calidad y con la garantía de 
      a(href="http://www.tecfil.com.br/" target="_black") Tecfil
      | .
    p
      b Comprender el filtro: 
      | El filtro es una parte integral del motor cuyo propósito principal es para retener las partículas nocivas para el sistema que puede ser llevado por el aire, aceite y combustible.
    p
      | La retención se produce por medio de un proceso físico o mecánico mediada por un medio de filtro de pantalla, algodón, lana, poliéster, fieltro, fibra, papel, etc. Por lo tanto mejores son los filtros, más que evitar el desgaste prematuro del motor.
    p
      | Los filtros Tecfil se producen como fabricantes de procesos únicos, siguiendo todos los requisitos del mercado. Más de 60 años de tradición, evolución y mejora.
    p
      | Todos nuestros productos son controlados y constantemente probados en nuestro laboratorio, así como por varios fabricantes de automóviles.
  h2.rex-item.center.l-block Tipos de filtros:
  .l-90.s-100.to-center.l-block
    .card.card--mini-horizontal.rex-container
      .card__img.l-25
        img(src='http://www.tecfil.com.br:90/novotecfil/src/filtro-ar.jpg') 
      .card__content.l-75
        .card__title Anticongelante Filtro de aire:
        .card__body
          p Este filtro es una parte vital en el proceso de filtración o el bloqueo de las partículas no deseadas del aire para el motor. Su característica principal es retener las impurezas del ambiente exterior dejando el motor en condiciones ideales para el perfecto estado de funcionamiento. Reemplazar el filtro de aire en el momento adecuado también evita el consumo excesivo de combustible, el calentamiento del motor, la pérdida de potencia y el aumento de los gases de efecto invernadero a través de los gases de escape.
  .l-90.s-100.to-center.l-block
    .card.card--mini-horizontal.rex-container
      .card__img.l-25
        img(src='http://www.tecfil.com.br:90/novotecfil/src/filtro-oleo.jpg') 
      .card__content.l-75
        .card__title Filtro de aceite:
        .card__body
          p Bien conocido en el mercado de la automoción filtración, filtro de aceite del motor es un elemento muy importante para el perfecto funcionamiento del vehículo. Su función principal es prevenir el paso de partículas no deseadas (a partir de las piezas de fricción) en el motor evitando así un desgaste excesivo de los componentes internos durante el funcionamiento.
  .l-90.s-100.to-center.l-block
    .card.card--mini-horizontal.rex-container
      .card__img.l-25
        img(src='http://www.tecfil.com.br:90/novotecfil/src/filtro-combustivel.jpg') 
      .card__content.l-75
        .card__title Filtro de combustible:
        .card__body
          p El filtro de combustible se conecta el motor con el depósito de combustible y se clasifica como un elemento de seguridad. Su función es la de no permitir que los fallos en el motor para el suministro de combustible de manera que no es la interrupción de su funcionamiento. Este tipo de filtro asegura una vida más larga para el sistema de inyección y la carburación, la eliminación de partículas no deseadas tales como polvo, óxido y depósito de residuos.
  .l-90.s-100.to-center.l-block
    .card.card--mini-horizontal.rex-container
      .card__img.l-25
        img(src='http://www.tecfil.com.br:90/novotecfil/src/filtro-ar-condicionado.jpg') 
      .card__content.l-75
        .card__title Filtro de Aire Acondicionado / Cabina del timón:
        .card__body
          p Este filtro está totalmente conectado a la salud de los ocupantes de los vehículos. Su principal función es retener impurezas en el aire tales como polvo, hollín y los gases, asegurando que el filtro de aire alcanza el interior del vehículo. Este producto ha recibido un alto grado de importancia en vehículos, ya sea ligero o pesado. Una de las tecnologías incorporadas en esta familia de filtros es el "tratamiento de corona". Esta tecnología permite aplicar controlado cargas eléctricas en los medios plana sintética que generan un campo electrostático en medio de ellos que aumentarán el poder de capturar las partículas en su funcionamiento a principios del sistema de aire acondicionado de vehículos.
  .l-90.s-100.to-center.l-block
    .card.card--mini-horizontal.rex-container
      .card__img.l-25
        img(src='http://www.tecfil.com.br:90/novotecfil/src/filtro-ecologico.jpg') 
      .card__content.l-75
        .card__title Separadores Filtros:
        .card__body
          p Operando en el sistema de suministro de combustible del motor, que tiene funciones específicas para separar el agua presente en diesel. La baja eficiencia de la separación de este agua puede, dependiendo de la posición de montaje, reducir la vida útil de la bomba de inyección, colaborar con la aparición de corrosión en los componentes a la pérdida del motor.
  h2.rex-item.center.l-block Lanzamientos
  .xl-25.l-1-3.m-50.s-100.rex-item.l-block
    a.card.card--next-class.cursor-zoom(href="http://www.tecfil.com.br:90/novotecfil/src/filtro-ar.jpg" data-caption="Image caption")
      .card__img
        //- a(href='#')
        img(src='http://www.tecfil.com.br:90/novotecfil/src/filtro-ar.jpg')
      .card__content
        .card__title
          span Ciclo de vida de los componentes
        footer.card__footer
          span Angular Desde Cero
  .xl-25.l-1-3.m-50.s-100.rex-item.l-block
    a.card.card--next-class.cursor-zoom(href="http://www.tecfil.com.br:90/novotecfil/src/filtro-ar.jpg" data-caption="Image caption")
      .card__img
        //- a(href='#')
        img(src='http://www.tecfil.com.br:90/novotecfil/src/filtro-ar.jpg')
      .card__content
        .card__title
          span Ciclo de vida de los componentes
        footer.card__footer
          span Angular Desde Cero
  .xl-25.l-1-3.m-50.s-100.rex-item.l-block
    a.card.card--next-class.cursor-zoom(href="http://www.tecfil.com.br:90/novotecfil/src/filtro-ar.jpg" data-caption="Image caption")
      .card__img
        //- a(href='#')
        img(src='http://www.tecfil.com.br:90/novotecfil/src/filtro-ar.jpg')
      .card__content
        .card__title
          span Ciclo de vida de los componentes
        footer.card__footer
          span Angular Desde Cero
  .xl-25.l-1-3.m-50.s-100.rex-item.l-block
    a.card.card--next-class.cursor-zoom(href="http://www.tecfil.com.br:90/novotecfil/src/filtro-ar.jpg" data-caption="Image caption")
      .card__img
        //- a(href='#')
        img(src='http://www.tecfil.com.br:90/novotecfil/src/filtro-ar.jpg')
      .card__content
        .card__title
          span Ciclo de vida de los componentes
        footer.card__footer
          span Angular Desde Cero