ul, ol {
  padding-left : 2rem;
  margin-left : 0;

  li {
    //padding-left : .2em;
  }
}

.data-list,
.feature-list {
  @include clearMenu;
  margin-bottom : 2em;

  li {
    border-bottom : 1px solid $borderColor;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin : 0;
  }
}

.data-list {
  li {
    display : flex;
    justify-content: space-between;
    align-items: center;

    > :first-child {
      margin-bottom : .5rem;
  
      @include from(l) {
        max-width: 75%;
        margin-bottom : 0;
      }
    }
  
    @include to(l) {
      display : block;
      
      [class*="button"] {
        font-size: fontSize(small);
      }
    }

    li div:last-child p {
      text-align : right;
    }
  }

  h1,h2,h3,h4,h5,h6,p, [class*="button"] {
    margin : 0;
  }
}

.feature-list {
  padding-left : 0;
  li {
    padding-left: 1.5rem;
    list-style: none;
    position : relative;

    //@include icon(check,before);
    &::before {
      content: '';
      width : 1rem;
      height : 1rem;
      display : block;
      position : absolute;
      top : .75em;// número mágico !no me juzgues!
      left : 0;
      color: $firstColor;
      background : img('icon-check.svg');
    }
  }

  //&.secondary li::before { color: $secondColor }
  //&.tertiary li::before  { color: $thirdColor  }
  //&.accent li::before    { color: $accentColor }
  //&.dark li::before      { color: $darkColor   }
}
