.main-logo {
  height  : 120px;
  width   : auto;
  display : block;
  object-fit: contain;
}
.logo-parker{
  h2{
    color: $thirdColorAlt;
    text-transform: initial;
    font-style: italic;
  }
  img{
    height: 50px;
    width: auto;
    object-fit: contain;
  }
}
