.main-header {
  height        : 9rem;
  border-bottom : 1px solid $borderColor;
  background    : linear-gradient($secondColor, lighten($secondColor, 25), $bodyBg); 
  display       : flex;
  align-items   : center;
  position      : absolute;
  top           : 0;
  width         : 100%;
  left          : 0;
  z-index       : $z-fixed;
  overflow      : hidden;
  &__border{
    position              : absolute;
    width                 : 100%;
    height                : 100%;
    background            : transparent img2('header.jpg');
    background-position-x : initial;
    background-position-y : 175px;
  }
  &__content{
    position: relative;
  }
}
