.main-menu {
  a:hover {
    text-decoration : none;
  }

  .active {

    @include from(l) {
      font-weight : 400;
      color: $thirdColor;

      &::before {
        display : none;
      }
    }
  }
  &__title{
    color: $firstColor;
    text-shadow: 1px 1px 1px $bodyBg;
    width: 100%;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1.5px;
  }
}


body {
  position   : relative;
  right      : 0;
  transition : right .5s;

  &.main-menu-visible {
    @include to(l) {
      right      : 80%;
      overflow-y : hidden;
    }
  }
}

.main-menu-toggle {
  @include navToggle(20px, $textColor);
}


@mixin main-menu {
  font-size : fontSize(small);
  
  @include to(l) {
    display: none;  
    // position   : fixed;
    // top        : 64px;
    // background : rgba($firstColor, .95);
    // width      : 80%;
    // right      : -80%;
    // padding    : 1em 1em 2em;
    // height     : calc(100vh - 64px);
    // transition : right .5s;
    // overflow-y : auto;
    // // Mostrar el menu
    // &.show {
      //   right : 0;
      // }
    }
    
    ul {
      @include clearMenu;
      @include from(l) {
        display : flex;
        // flex-direction: column;
        justify-content: flex-end;
      }
    }
    
    li {
      color         : #FFF;
      border-bottom : 1px solid rgba(#fff, .2);
      padding       : 1em 0;
      margin        : 0;
      
      @include from(l) {
        color       : $textColor;
        padding     : 0;
        margin-left : .5rem;
      }
    }
    
    // a {
      //   color : $bodyBg;
  // }
}

.main-menu {
  @include main-menu;
  span{
    padding-right: 8px;
  }
}
