.main-footer {
  background : #317b3b img2('footer.jpg') bottom repeat-x;
  color      : $bodyBg;
  padding    : 2rem 0;
  font-size  : fontSize(normal);
  margin-top : auto;
  padding-bottom: 0;
  &__title{
    text-align: center;
    font-family: $button-font;
    font-size  : fontSize(title2);
    font-weight: 500;
    letter-spacing: 0.5px;
    border-bottom: $firstColorAlt solid 1px;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
  }
  p,h1,h2,h3,h4,h5{
    width: 100%;
  }
}
