.main-main{
  background    : darken($bodyBg, 1);
  padding-bottom: 1rem;
  overflow: hidden;
  @include from(l){ padding-right : 0; }
  border-radius: 10px 10px 0 0;
  h2{
    width: 100%;
    background: linear-gradient($secondColorAlt, $secondColor 10px, $secondColorDark);
    // background  : linear-gradient(darken($secondColor, 5), lighten($secondColor, 30) 10px,$secondColor);
    color       : $accentColor; 
    text-shadow : 1px 1px 1px $bodyBg;
    font-size   : rem(36px);
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &__content{
    a{
      color: $firstColorAlt;
      text-decoration: underline;
    }
  }
}