.main-banner {
  background    : transparent;
  color         : #FFF;
  position      : relative;
  // Separación del contenido
  padding       : 2rem 0 3rem;
  &.main-banner--dark  { background : $darkColor   }
  @include from(l)     { padding: 8rem 0 10rem }
  @include from(xl)    { height: 220px; }
  @include fromTo(l,xl){ height: 280px; }
  @include fromTo(m,l) { height: 250px; }
  @include to(m)       { height: 325px; }
}
.main-banner__border{
  position : absolute;
  width    : calc(100% + 1px);
  bottom   : -7px;
  z-index  : $z-normal;
  padding  : 0;
}

.main-banner__img {
  position   : absolute;
  top        : -3px;
  left       : 0;
  width      : 100%;
  height     : 100%;
  object-fit : cover;
  object-position: top;
  opacity    : .5;
}

.main-banner__data {
  position      : relative;
  text-align    : center;
  h1{
    text-shadow: -1px 1px 4px $darkColor;
  }
}
.main-banner--dark{
  .main-banner__img {
    opacity    : 1;
  }
  .main-banner__data {
    position: absolute;
    @include crossCenter;
    height: 100%;
    width: 70%;
    top: 0;
    left: 0;
    padding-left: 4%;
    padding-right: 10%;
    @include from(l){
      width: 60%;
      padding-left: 4%;
      padding-right: 35%;
    }
    text-align    : inherit;
  
    &.data--first     { 
      background: linear-gradient(120deg, transparentize($firstColor, 0.5) 75%,transparent 0);
      h1{ border-bottom: $firstColor solid 1px;}
    }
    &.data--secondary { 
      background: linear-gradient(120deg, transparentize($secondColor, 0.5) 75%,transparent 0);
      h1{ border-bottom: $secondColor solid 1px;} 
    }
    &.data--tertiary  { 
      background: linear-gradient(120deg, transparentize($thirdColor, 0.5) 75%,transparent 0);
      h1{ border-bottom: $thirdColor solid 1px;}
    }
    &.data--accent    { 
      background: linear-gradient(120deg, transparentize($accentColor, 0.5) 75%,transparent 0);
      @include from(l){
        background: linear-gradient(120deg, transparentize($accentColor, 0.5) 50%,transparent 0);
      }
      h1{ border-bottom: $accentColor solid 1px;}
    }
    &.data--dark      { background : $darkColor   }
    h1{
      width: 100%;
      text-shadow: -1px 1px 4px $darkColor;
    }
    .subtitle{
      overflow: hidden;
      max-height: 55%;
      text-shadow: 1px 1px 1px $darkColor;
    }
  }
}

.main-banner__author {
  color: #fff;
  margin-top : -1.5rem;
  
  a {
    color: inherit;
  }
  
  &-img {
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 2px solid;
    display : block;
    margin : 0 auto;
  }
  
  &-name {
    font-size : fontSize(small);
  }
}