.movil-menu{
  position: absolute;
  width: 235px;
  right: -100%;
  margin-top: -10px;
  transition: right .5s;
  background: $bodyBg;
  z-index: 76;
  overflow-y: auto;
  &.show{
    @include to(l){ right: 0;}
  }
  &__content{
    float: right;
    width: 100%;
    max-height: 100%;
  }
  ul{
    list-style: none;
    margin-bottom: 0;
    padding: 5px 0;
  }
  &__inicial{
    ul{ @include edContainer;@include mainCenter;}
    li{
      @include edItem(33.333333333);
      @include mainCenter;
      padding: 0;
    }
  }
}