.tns-outer{
  position      : relative; 
  // margin-bottom : 4rem;
  .rex-slider{
    box-shadow: 1px 1px 5px $firstColor;
    border: solid $firstColorAlt 3px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .main-banner{
    margin-left: 0;
    margin-right: 0;
    margin-bottom : 0;
    @include from(xl)    { height: 520px; padding: 20rem 0 0;}
    @include fromTo(l,xl){ height: 470px; padding: 18rem 0 0;}
    @include fromTo(m,l) { height: 320px; padding: 10rem 0 0;}
    @include to(m)       { height: 320px; padding: 10rem 0 0;}
    &__title{
      @include from(l){
        font-size: 3.5rem;
      }
      background: transparentize(darken($secondColor, 2), 0.1);
      padding: 0 10px;
      border-radius: 5px;
    }
  }
  .main-banner__img {
    opacity    : 1 ;
  }
}
.banner-slides{

  [aria-label="Carousel Navigation"], [aria-label="Carousel Pagination"], [data-action]{
    position : absolute;
    z-index  : $z-normal;
  }
  [data-action]{
    width      : 30px;
    height     : 30px;
    margin-top : 5px;
    margin-left: 5px;
    line-height: 2.4;
  @include from(l){ margin-top: 15px; margin-left: 15px; }
  }
  [aria-label="Carousel Navigation"]{
    right    : 0;
    bottom   : 75px; 
    transform: rotate(90deg);
    @include from(l){ bottom: 85px; }
    
    [data-controls]{ 
      width      : 40px;
      height     : 40px;
      margin     : 0 5px;
      line-height: 3.4;
    }
  }
  [data-action], [aria-label="Carousel Navigation"] [data-controls]{
    background   : $firstColor;
    color        : $secondColorAlt;
    border       : none;
    border-radius: 50%;
  }
  [aria-label="Carousel Pagination"]{
    margin-top: 5px;
    margin-right: 5px;
    right    : 0;
    @include from(l){ margin-top: 15px; margin-right: 15px; }
    button{
      width        : 15px;
      height       : 15px;
      border-radius: 50%;
      padding      : 0;
      border       : none;
      margin       : .3em;
      background: $firstColorAlt;
      box-shadow   : inset 0 -3px 0 $borderColor;
      &[aria-selected="true"]{
        background   : $secondColor;
        box-shadow: none;
      }
    }
  }
  [aria-hidden="false"].tns-slide-active .main-banner__data{
    transform   : translateY(0);
    transition  : 2s transform;
  }
  .tns-normal .main-banner__data{
    transform   : translateY(700%);
    transition  : 2s transform;
  }
}