.vertical-menu-toggle {
  background-size : 100% 34%;
  color: $secondColorAlt;
  font-size : fontSize(small);
  @include to(l) {
    display : flex;
  }
  &::before {
    content: "";
    display : block;
    width : .5em;
    height : 1.2em;
    background-image: radial-gradient(circle, $textColor 2px, transparent 2px);
    background-size : 100% 34%;
    margin-right : .2em;
  }
  &::after {
    content: attr(data-content)
  }
}

.vertical-menu {
  height       : 100%;
  background   : $firstColorAlt;
  border-right : 1px solid $borderColor;

  @include to(l) {
    max-height : 0;
    transition: max-height .5s;
    overflow : hidden;

    &.show {
      max-height : 1000px;
      margin-bottom : 1em;
    }

    .active::before {
      display : none;
    }
  }

  ul {
    max-height  : 100vh;
    overflow-y  : auto;
    overflow-x  : hidden; 
    @include clearMenu;
  }

  li {
    padding : .3em 0;
    border-bottom: solid 1px $borderBotton;
    font-family: $button-font;
    font-size : 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $secondColor;
    a:before {
      content: "";
      position: absolute;
      z-index: $z-normal;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $secondColorAlt;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
  }
  
  a {
    position: relative;
    color: $bodyBg;
    display : block;
    padding: 0px 0 0px 20px;
    background: linear-gradient($firstColorAlt, $firstColor 10% , $firstColorAlt);
    &.active {
      display : flex;
      justify-content: space-between;
      align-items: center;
      color: $firstColor;
      background: $bodyBg;
      border-left:$firstColorAlt solid .3em;
      &::after {
        content: '';
        display : block;
        width : 1rem;
        height : 1rem;
        background : img('icon-right.svg') center right / contain no-repeat;
      }
      
      &:hover {
        text-decoration : none;
        background: $bodyBg;
        color: $secondColor;
      }
    }
    &:hover{
      text-decoration: none;
      &::before{
        transform: scaleX(1);
      }
      span{
        position: relative;
        color: $firstColor;
        z-index: 1;
      }
    }
  }

  
  .active {
    border-bottom: 1px solid $borderColor;
    border-top: 1px solid $borderColor;
    margin-right: -1px;
    // padding: .5em 0;
    border-right: 1px solid $bodyBg;

    &::after {
      background : img('icon-right.svg') 100% / contain no-repeat !important;
      margin-right : 1rem;
    }
  }
}
