- var currentPage = 'Home'
- var siteName = 'MultiFiltros Santa Cruz S.R.L.'
- var slogan = '- Venta, distribución de filtros y lubricantes para vehiculos'
- var description = 'Filtros para autos y vehiculos de las marcas Tecfil, Unifilter, Racor, Keltec, Baldwin, Rama. Lubricantes, refrigerantes, siliconas, bombas de lubricación. Procesador de conbustible especial para la inyección electrónica.'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'