block config
  include config
include ../mixins/main-banner
doctype html
html(lang="es")
  head
    title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content=description)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
    link(rel="stylesheet" href= "/assets/css/styles.css?31-ene")
    link(rel="shortcut icon" href= "/assets/img/favicon.png")
  body(class=currentPage)
    #multifiltros
      include ../components/header
      block topbar
      .rex-container.main-section.l-section
        aside.rex-item.l-20.main-aside.sidebar-first(data-sticky-container)
          include ../components/topics-menu
        main.rex-item.l-80
          .main-main
              block banner
              .rex-item
                block main
      include ../components/footer
      a#goup.button--goup(class="fade-out button--cta" href="#"): i.icon-up
    script(src="/assets/js/modernizr.js")
    script(src="/assets/js/script.js?21-nov")
    //- script(src="js/prism.js?v2")
