block config
	include config
include ../mixins/main-banner
doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName + ' ' + slogan
		meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
		meta(name="description" content=description)
		meta(property="og:title" content=currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName)
		meta(property="og:description" content=description)  
		meta(name='author', content='')
		meta(name='keywords', content='')
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
		link(rel="stylesheet" href= path_media + "css/styles.css")
		//- link(rel="shortcut icon" href= path_media + "img/favicon.png")
	body(class=currentPage)
		#multifiltros.poppup_slider
			include ../components/header
			block topbar
			.rex-container.main-section.l-section
				.movil-menu(:class="toggle ? 'show' : ''")
					nav.movil-menu__inicial
						ul
							li(v-for="item in menuinicio")
								a.button--ghost.button--small.wow.rotateInDownRight(data-wow-duration="1s" :data-wow-delay="item.wow_delay" :href="path_page + item.href")
									span(v-text="item.title")
									i(:class="item.icon")
					//- ul.social
						li: a.icon-facebook(href="")
						li: a.icon-twitter(href="")
						li: a.icon-youtube(href="")
					nav.vertical-menu.movil-menu__content
						ul
							li(v-for="item in mainmenu")
								a(:href="path_page + item.href"): span(v-text="item.title")
				aside.rex-item.xl-15.l-20.main-aside.sidebar-first(data-sticky-container)
					include ../components/aside
				main.rex-item.xl-85.l-80
					.main-main
						.banner-slides
							block banner
						.rex-container.rex-item.card__content
							block main
			include ../components/footer
			a#goup.button--goup(class="fade-out button--cta" href="#"): i.icon-up
		script(src= path_media + "js/modernizr.js")
		script(src= path_media + "js/script.js?20-feb")
