td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.ah{
  color: $bodyBg;
  opacity: 0.25;
  &:hover{
    color: $secondColor;
    opacity: 1;
  }
}
.map-contact{
  width: 100%;
  height: 480px;
  margin-bottom: -3rem;
  margin-top: -1rem;
}
.enfasis{
  a{
    font-weight: 700;
  }
}
.cursor-zoom{
  cursor: zoom-in;
}
.carousel{
  [class="tns-controls"], [class="tns-nav"],[data-action]{
    display: none;
  }
  .card__img{
    width: 100%;
    border-bottom: solid 1px $secondColor;
    img{
      margin: auto;
      height: 150px;
      object-fit: contain;
    }
  }
  .card__footer{
    justify-content: center;
  }
}
