footer.main-footer
	.rex-container
		.rex-item.xl-35.l-40.s100
			h3.main-footer__title Productos
			ul.feature-list.rex-container
				li.rex-item.col-33(v-for="item in mainmenu"): a(:href="item.href" v-text="item.title")
		.rex-item.xl-35.l-60.s100
			h3.main-footer__title Multi Filtros Santa cruz - Bolivia
			p.center 
				| Av. Nicolás Suárez #1740, 4to Anillo
				br 
				| esq. Diego de Trejo, Parque Industrial.  
				a.button--secondary.button--small(href="#") >> Ver mapa
				br
				b Telf: 
				| (591-3) 3478348
				br
				b Cel:   
				span.whatsapp 74 17 44 77
				br 
				| multifiltros@gmail.com
		.rex-item.xl-30.l-100.s100.cross-center.center
			ul.social
				li: a.icon-facebook(href="" target="_blanck")
				li: a.icon-twitter(href="" target="_blanck")
				li: a.icon-youtube(href="" target="_blanck")
			p Todos los Derechos Reservados ® <br>
				b #{siteName} 
				| © 
				span#currentDate
			p: a.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD