header.main-header
  .main-header__border
  .rex-container.main-header__content
    .rex-item.s-80.l-25.xl-20.cross-center.main-center
      a.wow.lightSpeedIn(data-wow-duration="1.2s" data-wow-delay="0s" href= path_page + "")
        img(src= '/assets/images/multifiltros-logo.png').main-logo
    .rex-item.s-20.l-75.xl-80.cross-center.main-end.header-links
      .main-menu.l-70
        h2.main-menu__title.wow.slideInLeft(data-wow-duration="1.3s" data-wow-delay="1.0s") Venta, distribución de filtros y 
        h2.main-menu__title.wow.slideInLeft(data-wow-duration="1.3s" data-wow-delay="1.2s") Lubricantes para vehiculos
      .main-menu.l-30.cross-center.main-end.rex-item      
        nav
          ul
            li(v-for="item in menuinicio")
              a.button--ghost.button--small.wow.rotateInDownRight(data-wow-duration="1s" :data-wow-delay="item.wow_delay" :href="path_page + item.href")
                span(v-text="item.title")
                i(:class="item.icon")
          ul.social
            li: a.icon-facebook(href="")
            li: a.icon-twitter(href="")
            li: a.icon-youtube(href="")
      a.main-menu-toggle.to-l(href="javascript:void(0)" @click="menuToggle()")