transition(name="modal--slider")
  template(v-if="showmodal")
    div(:class="{ 'modal-popup': showmodal }")
      .modal-popup__close(v-on:click="showmodal=false")
        span Cerrar
        <svg width="30" height="30"><g stroke="rgb(160,160,160)" stroke-width="4"><line x1="5" y1="5" x2="25" y2="25"></line><line x1="5" y1="25" x2="25" y2="5"></line></g></svg>
      .modal-popup__background(v-on:click="showmodal=false")
      .my-slider
        div
          img(src="https://images.pexels.com/photos/573294/pexels-photo-573294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="nandes")
          .modal-popup__button
            a(href="#1").button Ver más
        div
          img(src="https://images.pexels.com/photos/573294/pexels-photo-573294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="nandes")
          .modal-popup__button
            a(href="#2").button Ver más
        div
          img(src="https://images.pexels.com/photos/573294/pexels-photo-573294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", alt="nandes")
          .modal-popup__button
            a(href="#3").button Ver más