.rex-slider.wow.fadeInDown(data-wow-duration = "2s" data-wow-delay = "0s")
  div(v-for="item in mainmenu" :class="'main-banner--' + item.class +  ' main-banner'")
    .rex-container
      .rex-item.l-75.to-center
        img(:src="'/assets/' + item.image").main-banner__img
        .main-banner__data
          h1
            span.main-banner__title
              span(v-text="item.title")
          //- p.subtitle(v-text="item.description")
          a(:href="item.href").button.center Ver más
          //- .main-banner__author
            a(href="#")
              img(src="https://ed.team/sites/default/files/styles/thumbnail/public/pictures/2017-11/alexys_0.jpg?itok=MMRiEdrl").main-banner__author-img
            a(href="#")
              .main-banner__author-name Alexys Lozada