#vertical-menu-toggle.vertical-menu-toggle.to-l(data-content="Filtros")
nav.vertical-menu#vertical-menu
  .sticky-menu
    ul
      li: a(href= "/demo/stylesguide/"): span Inicio
      li: a(href= "/demo/stylesguide/tipografia.html"): span Tipografia
      li: a(href= "/demo/stylesguide/botones.html"): span Botones
      li: a(href= "/demo/stylesguide/tablas.html"): span Tablas
      li: a(href= "/demo/stylesguide/listas.html"): span Listas
      li: a(href= "/demo/stylesguide/formularios.html"): span Formularios
      li: a(href= "/demo/stylesguide/cards.html"): span Cards
      li: a(href= "/demo/stylesguide/post.html"): span Post
      li: a(href= "/demo/stylesguide/banner.html"): span Banner
      li: a(href= "/demo/stylesguide/topbar.html"): span Top bar
      li: a(href= "/demo/stylesguide/modal.html"): span Modal
      li: a(href= "/demo/stylesguide/tabs.html"): span Tabs
      li: a(href= "/demo/stylesguide/iconos.html"): span Iconos
