// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$container : rex-container;
$item      : rex-item;
$max-width  : 1250px;
$gutter     : 1rem;

// Breakpoints
$breakpoints : (
  s  : 0,
  m  : 550px,
  l  : 840px,
  xl : 1024px,
);

// Fracciones para calcular anchos de los items
$fractions : 3 6;

// Colors
$firstColor     : #006131;
$firstColorAlt  : #009957;
$secondColor    : #fbce05;
$secondColorAlt : #f9e00b;
$secondColorDark: #f3a908;
$thirdColor     : #FF3C32;
$thirdColorAlt  : #FF2419;
$accentColor    : #004665;
$accentColorAlt : #006283;
$darkColor      : #2e373d;

// Complementary colors
$borderColor  : #009957;
$borderBotton : #fff9a8;
$textColor    : #53575A;
$bodyBg       : #FAFDFF;

// z-ndex
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

// Images path
$images-path: '../svg';
$images2-path: '../images';

// Animate Sass
$use-bounceInDown       : true;
$use-bounceOutUp        : true;
$use-lightSpeedIn       : true;
$use-rotateInDownRight  : true;
$use-fadeInDown         : true;
$use-slideInLeft        : true;
$use-slideInRight        : true;